<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051207476439-q08dl4grl5dhuvcd9vh567rese7m6ic2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051207476439-q08dl4grl5dhuvcd9vh567rese7m6ic2</string>
	<key>API_KEY</key>
	<string>AIzaSyBwjgujN4uSv3cJpNKNfamynBRWLLffmNg</string>
	<key>GCM_SENDER_ID</key>
	<string>1051207476439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quranproject</string>
	<key>PROJECT_ID</key>
	<string>quran-app-f8e6a</string>
	<key>STORAGE_BUCKET</key>
	<string>quran-app-f8e6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051207476439:ios:4e3c876113942cc1567c92</string>
</dict>
</plist>